<div class="wrap">
<div class="form-container">
    <h1>Hi! How can we help?</h1>
    <form>
      <label for="name">Name <br> <p>Please fill in your name:
    </p></label>
      <input type="text" id="name" name="name" placeholder="Your name..">
  
      <label for="email">Email <br><p>Please fill in your email address:</p></label>
      <input type="email" id="email" name="email" placeholder="Your email..">
  
      <label for="message">Can you describe your request in 2 - 3 keywords?*</label>
      <textarea id="message" name="message" placeholder="Example: Cancellation Request"></textarea>

      <label for="message">Details about your request* <br> <p>Please share a bit more details regarding your request to help our team to provide you with a quick answer:</p></label>
      <textarea id="message" name="message" id="msg" placeholder="Write something.."></textarea>
  
      <input type="submit" value="Submit">
    </form>
  </div>
</div>
