<div class="background-img">
    <h1>Help disrupt a trillion dollar travel industry</h1><br><br><br>
      
  </div>
  <div class="container">
    <div class="desc3">
      <h1>Global travel disruptor...</h1>
      <p>Vio.com is built with passion from our office in the heart of Amsterdam, to over a dozen countries around the world, remotely. <br><br>

        We’re building Vio.com into a global travel business without the need for massive financing..</p>
    

    </div>
    <div class="image">
      <img src="../../assets/close-up-male-hands-using-laptop-home.jpg" alt="Image">
    </div>
  </div>

  <div class="container1">
    <div class="image1">
        <img src="../../assets/woman-with-glasses-using-computer.jpg" alt="Image">
      </div>
    <div class="desc1">
        <h1>...seeks passionate people...</h1>
          <p>We believe there has never been a better time to build and scale a world-class travel company! <br><br>

            We’re looking for hungry and accomplished leaders and contributors that share our vision and values..</p>
    </div>
  </div>

  <div class="container2">
    
    <div class="desc2">
        <h1>...to help transform an industry.</h1>
          <p>In the past year we’ve managed to helped well over 2M travellers find a better deal. And we’ve got our sights on 10M by 2024. <br><br>

            But we need your help!.</p>
    </div>
    <div class="image2">
        <img src="../../assets/blonde-female-executive-posing-with-smile-arms-crossed-during-brainstorm-with-managers-indoor-portrait-e.jpg" alt="Image">
      </div>
  </div>



<div class="OurValues">
  <div class="text">
    <h1>Our Values</h1>
  </div>
    <div class="icon">
      <div class="row">
        <div class="col"><img src="../../assets/target.gif" alt="">
        <h3>Customer focused</h3></div>
        <div class="col"><img src="../../assets/door.gif" alt="">
        <h3>Deliver results</h3></div>
        <div class="col"><img src="../../assets/keys.gif" alt="">
        <h3>Take ownership</h3></div>
      </div>
      <div class="row">
        <div class="col"><img src="../../assets/goals.gif" alt="">
        <h3>Team players</h3></div>
        <div class="col"><img src="../../assets/shield.gif" alt="">
        <h3>Build trust</h3></div>
        <div class="col"><img src="../../assets/military-medal.gif" alt="">
        <h3>Raise the firm</h3></div>
      </div>
    </div>
    
          
  </div>


  <div class="head">

<h1>Our locations</h1>

<div class="overwrap">

  
<div class="container">

  <div class="desc">
    <h1>US</h1>
    <p>
      Hostel.com is built with passion from our office in the heart of Amsterdam. With some amazing amenities and regular social activities, it’s a fantastic place to work! 

    </p>
   

  </div>
  <div class="image">
    <img src="../../assets/businessman-pointing-finger-analyzing-statistics-financial-graph.jpg" alt="Image">
  </div>

</div>

<div class="content">

  <div class="Pic">
    <img src="../../assets/fully-equipped-desk-from-library-used-by-students-learning.jpg" alt="Image">
  </div>

  <div class="txt">
    <h1>Anywhere</h1>
    <p>At Hostel.com you’re free to work from anywhere. Some of our team work remotely from beautiful places around the world – including Italy, Poland, Russia, Spain, Brazil, Philippines, Tanzania, Hungary, Ukraine, The United States, and The United Kingdom.

    

  </div>
  

</div>
</div>
 


  
  
<hr>

<div class="footer">
  <img src="../../assets/hotel-sign.png" alt="">
  <a routerLink="/Home">
    <p>A Better Deal</p>
  </a>


  <div class="ic">
    <p>Connect with Us</p>
    <a href="https://www.facebook.com">
      <img src="../assets/icons8-facebook-circled.gif" alt="">
    </a>
    <a href="https://www.instagram.com">
      <img src="../assets/icons8-instagram (1).gif" alt="">
    </a>
    <a href="https://in.linkedin.com">
      <img src="../assets/icons8-linkedin.gif" alt="">
    </a>
  </div>

</div>
