<div class="wrapper">
  <div class="topnav">
    <nav>
      <div class="logo">
        <img src="../assets/hotel-sign.png" alt="">
      </div>
      <ul>
        <li><a class="home" routerLink="/About">About Us</a></li>
        
      </ul>
    </nav>
  </div>

  <div class="content">
    <h1>Term Of Use</h1><br><br><br>
    <p>For reservations that are facilitated by the Expedia Group, please refer to the terms and conditions set forth
      here.<br><br>
      For reservations that are facilitated by Getaroom.com, please refer to the terms and conditions set forth here.
      For all other reservations, please refer to these Terms of Use. <br><br>
      If you make a booking as a Plus Member in the
      context
      of our loyalty Plus Programme, please see also our Plus Programme Terms of Service here which apply in addition to
      these Terms of Use.</p><br><br><br>

    <h2>Definitions</h2><br><br>

    <p>In Terms of Use:<br>
      “Information” means all of the information available on the Website, including but not limited to:<br><br>
      hotel room availabilities;<br><br>
      room rates;<br><br>
      hotel descriptions and photographs;<br><br>
      hotel amenities;<br><br>
      customer reviews;<br><br>
      editorial commentary;<br><br>
      car rental availabilities;<br><br>
      car rental rates;<br><br>
      car rental descriptions and photographs.</p><br><br><br>

    <h2>Services and Website Access</h2><br><br>
    <p>The Website Vio.com provides an online platform through which Offers supplied by Offer Providers are
      available for Booking and through which visitors of the Website can search, compare, reserve, purchase or pay for
      such Offers. Upon Booking with Vio.com payment can be made either directly on the Website or at arrival with the
      relevant Offer Provider.<br><br>

      Prepaid Bookings are Bookings for which you pay Vio.com at the time you make the Booking, excluding charges
      that you must pay the Offer Provider directly upon arrival. By making such prepaid Booking on the Website, you
      agree to pay us for facilitating the Booking with the Offer Provider as presented on the Website using the
      selected form of payment. Vio.com will confirm your Booking and will handle the Booking with the Offer Provider.<br><br>

      By accessing the Website, you:<br><br>

      agree to be bound by these Terms of Use; and<br><br>

      warrant that you have attained the age of 18 years.</p><br><br><br>
    <h2>Prohibited Activities</h2><br><br>
    <p>You shall not:<br><br>

      reproduce in a material form, publish, perform in public, communicate to the public, or make an adaptation of the
      Information or any part of the Information other than for the Permitted Purpose;<br><br>

      access or monitor the Information or any part of the Information using any robot, spider, scraper or other
      automated means without our prior written consent;<br><br>

      violate the restrictions in any robot exclusion headers on the Website or bypass or circumvent any other measures
      employed to prevent or limit access to the Website;<br><br>

      take any action that imposes, or may impose an unreasonable or disproportionately large load on our
      infrastructure;<br><br>

      attempt to modify, translate, adapt, edit, decompile, disassemble, or reverse engineer any software programs used
      by us in connection with the Website.</p><br><br><br>

    <h2>Indemnity</h2><br><br>
    <p>You shall indemnify us and hold us harmless from and against all costs, claims, third party claims demands,
      liabilities, expenses, damages and loss caused by your use of the Website and Information or any part of the
      Information for any purpose other than the Permitted Purpose.

    </p><br><br><br>

    <h2>Verification of Information and Assumption of Risk
    </h2><br><br>
    <h4><b>Information</b></h4><br><br>

      <p>All Information which is displayed on the Website is based on the information directly or indirectly provided to
      us by Offer Providers. The Offer Providers which market and promote their Offer on or via the Website are
      responsible for updating and verifying all rates, prices, fees, availability, policies and terms and conditions
      and other relevant Information which is displayed on our Website. We, therefore, cannot guarantee that all
      Information is accurate, correct, complete and we cannot be held responsible for any errors, misleading or untrue
      Information. Our Website does not constitute and should not be regarded as a recommendation or endorsement of the
      quality service level, rating and type of accommodation or Offer of any Offer Provider.</p><br><br>

      <h4><b>Verification of Information</b></h4><br><br>

      <p>You must verify the accuracy of the Information before accepting or using any Offer.</p><br><br>

      <h4> <b>Assumption of risk</b></h4><br><br>

      <p>You assume all risk in connection with your:<br><br>

      use of the Website and the Information; and<br><br>

      acceptance and use of any Offer. Vio.com has no control over and assumes no responsibility for, the content,
      privacy policies, or practices of any third party sites or services. We strongly advise you to read the terms and
      conditions and privacy policy of any third-party site that you visit.<br><br>
    </p><br><br><br>
    <h2>No warranty</h2><br><br>
    <p>We do not give any warranties and therefore do not warrant and cannot be held responsible for:<br><br>

      The quality or conditions of the accommodation's facilities, availability or service provided;<br><br>

      The transmission of, or ultimate accommodation of, special requests provided while using the site to purchase or
      book an Offer;<br><br>

      The accuracy, quality, completeness, or reliability of the Website, the Information and any Offer;<br><br>

      that the Website and the Information will be error-free, virus free, uninterrupted (whether due to any temporary
      or partial breakdown, repair, upgrade or maintenance to our Website or otherwise) or free from unauthorised use or
      hackers.</p><br><br><br>

    <h2>Intellectual Property</h2><br><br><br>
    <p>The software required for our services are available at or used by our Website and the intellectual property
      rights (including the copyrights) in relation to the contents, and Information, and material, on our Website are
      owned by the Offer Providers or us.<br><br>

      Vio.com exclusively retains ownership of all rights, title and interest in and to (all intellectual property
      rights of) (the look and feel (including infrastructure) of) the Website including the guest reviews and
      translated content, and you are not entitled
      to copy, scrape, (hyper-/deep)link to, publish, promote, market, integrate, utilize, combine or otherwise use the
      content (including any translations thereof and the guest reviews) or our brand without our expressed written
      permission. To the extent that you would
      (wholly or partly) use or combine our (translated) content (including guest reviews) or would otherwise own any
      intellectual property rights in the Website or any (translated) content or guest reviews, you hereby assign,
      transfer and set over all such intellectual
      property rights to FinsHotel for no consideration. Any unlawful use or any of the aforementioned actions or
      behaviour will constitute a material infringement of our intellectual property rights (including copyright and
      database right).</p><br><br>

    <h2>Vio.com Booking Rules</h2><br><br><br>
    <p>The following rules apply to Bookings made with Vio.com on the Vio.com website.<br><br>

      <b>Photo ID Policy</b><br><br><br>

      A customer holding a Vio.com Booking must present a valid photo ID and credit card at check-in. Both the ID and
      the credit card must belong to the guest name as selected at the time of the Booking. The credit card is required
      for additional hotel incidental charges such as parking, phone calls or minibar charges which are not included in
      the room rate. The credit card may also be required for mandatory fees charged by the hotel during check-in.
      Whenever additional fees to pay at the hotel are applicable, they will be clearly indicated during the Booking
      process with Vio.com.<br><br>

      <b>Mandatory Fee Policy</b><br><br><br>

      Occasionally Offer Providers may charge an additional mandatory fee at check-in. The presence of such hotel fees
      will be clearly indicated during the Booking process at Vio.com. Hotel fees will be charged to you directly by the
      hotel. Resort fees are not optional and typically cover items such as energy charges or safe fees. The amount of
      the charge is subject to change.<br><br>

      <b>Booking Charge Disclosure</b><br><br><br>

      At the time of making the Booking, we will present you with a detailed breakdown of the Offer price. The price
      breakdown includes detailed Information about the cost of room nights as well as any mandatory fees, including
      taxes. In addition, the price breakdown will indicate what is to be paid at the time of making the Booking and
      what is due at the hotel.<br><br>

      We encourage you to review the Booking and payment Information thoroughly before completing the Booking.<br><br>

      <b>Main guest age limit</b><br><br><br>

      Unless otherwise specified at the time of making the Booking, the main guest under which the Booking is made will
      be considered a legal adult according to the local law applicable to the Offer Provider. If you are unsure about
      the required age, please contact our support.<br><br>

      <b>Booking cancellations, changes and refunds</b><br><br><br>

      At the time of making the Booking and while using our website, Vio.com will present various cancellation policies
      that may include partial or full refunds in case a cancellation is possible. Please check the relevant Offer
      conditions and details thoroughly for any such conditions prior to making your reservation Not all Offers can be
      cancelled and not all prices are fully or partially refundable.<br><br>

      Any request for a change, cancellation or refund that is not according to the policies presented at the time of
      the Booking will be submitted to the relevant Offer Provider. Vio.com does not charge a cancellation or change
      fee, and it is the responsibility of the Offer Provider to determine whether they agree to cancellations, changes
      or refunds that are not included in the original Booking’s policies.<br><br>

      To cancel a Booking made with Vio.com, please follow the instructions found in the confirmation email sent by us.
      In case you are having issues cancelling, please contact our support. A Booking cannot be cancelled if our support
      is not contacted for cancellation at least 24 hours before you would like such cancellation to take place.<br><br>

      <b>Offer Provider service level</b><br><br>

      Vio.com invests the utmost efforts to ensure that all the Information presented is accurate in order for its
      customers to make an informed decision regarding their accommodation. Vio.com can neither guarantee, nor we will
      be liable for any failure of the Offer Provider to meet our customer’s expectation in regards to the booked rooms,
      cleanliness, service provided by hotel staff, hotel facilities or any other service or feature that is under the
      responsibility of the Offer Provider to provide.<br><br>

      Nonetheless, if a customer has a complaint, Vio.com will try to assist the customer in resolving the issue with
      the hotel.<br><br>

      <b>Special requests</b><br><br>

      Upon making a Booking with us, it is possible to add special requests for the Offer Provider. Vio.com passes the
      special request as-is on to the Offer Provider and is not responsible or liable for the fulfilment of such special
      requests. Only the Offer Provider decides whether to address the request or not.<br><br>

      <b>Offer Provider policies</b><br><br>

      By making a Booking with us you agree with the applicability and agree to adhere to the general terms and policies
      of the Offer Provider (during, before and after utilisation of the relevant Offer Booked with or via us).
    </p><br><br><br>

    <h2>Disclaimer</h2><br><br>

    <p>Subject to the limitations set out in these Terms of Use and to the extent permitted by law, we shall only be
      liable for direct damages actually suffered, paid or incurred by you due to an attributable shortcoming of our
      obligations in respect to our services, up to an aggregate amount of the aggregate cost of your reservation as set
      out in the Booking confirmation email (whether for one event or series of connected events).<br><br>

      However and to the extent permitted by law, neither we nor any of our officers, directors, employees,
      representatives, subsidiaries, affiliated companies, distributors, affiliate (distribution) partners, licensees,
      agents or others involved in creating, sponsoring, promoting, or otherwise making available the site and its
      contents shall be liable for (i) any punitive, special, indirect or consequential loss or damages, any loss of
      production, loss of profit, loss of revenue, loss of contract, loss of or damage to goodwill or reputation, loss
      of claim, (ii) any inaccuracy relating to the (descriptive) information (including rates, availability and
      ratings) of the Offer Provider as made available on our Website, (iii) the services rendered or the products
      offered by the Offer Provider or other business partners, (iv) any (direct, indirect, consequential or punitive)
      damages, losses or costs suffered, incurred or paid by you, pursuant to, arising out of or in connection with the
      use, inability to use or delay of our Website, or (v) any (personal) injury, death, property damage, or other
      (direct, indirect, special, consequential or punitive) damages, losses or costs suffered, incurred or paid by you,
      whether due to (legal) acts, errors, breaches, (gross) negligence, willful misconduct, omissions, non-performance,
      misrepresentations, tort or strict liability by or (wholly or partly) attributable to the Offer Provider or any of
      our other business partners (including any of their employees, directors, officers, agents, representatives,
      subcontractors or affiliated companies) whose products or service are (directly or indirectly) made available,
      offered or promoted on or through the Website, including any (partial) cancellation, overbooking, strike, force
      majeure or any other event beyond our control.<br><br>

      We are not responsible (and disclaims any liability) for the use, validity, quality, suitability, fitness and due
      disclosure of the Offer and makes no representations, warranties or conditions of any kind in this respect,
      whether implied, statutory or otherwise, including any implied warranties of merchantability, title,
      non-infringement or fitness for a particular purpose. You acknowledge and agree that the relevant Offer Provider
      is solely responsible and assumes all responsibility and liability in respect of the Offer (including any
      warranties and representations made by the Offer Provider).</p><br><br><br>

    <h2>General</h2><br><br>

    <p><b>Exclusion</b><br><br>

      Applicability of any terms and conditions other than these Terms of Use is explicitly excluded.<br><br>

      <b>Entire understanding</b><br><br><br>

      These Terms of Use contain the entire understanding between the parties and supersede any prior communications
      between the parties.<br><br>

      <b>Amendment and variation</b><br><br><br>

      We reserve the right, at our sole discretion, to modify or replace these Terms of Use by posting the updated terms
      on the Website. Your continued use of the Website after any such changes constitutes your acceptance of the new
      Terms of Use.<br><br>

      <b>Language</b><br><br><br>

      The original English version of these Terms of Use may have been translated into other languages. The translated
      version is a courtesy and office translation only and you cannot derive any rights from the translated version. In
      the event of a dispute about the contents or interpretation of these Terms of Use or inconsistency or discrepancy
      between the English version and any other language version of theseTerms of Use, the English language version to
      the extent permitted by law shall apply, prevail and be conclusive. The English version is available on our
      Website or shall be sent to you upon your written request.<br><br>

      <b>Governing law and jurisdiction</b><br><br><br>

      These Terms of Use are governed by and must be construed in accordance with the laws of the Netherlands. You
      submit to the exclusive jurisdiction of the court of Amsterdam, the Netherlands in respect of all matters arising
      out of or relating to these Terms of Use.

    </p><br><br><br>
  </div>

  
<router-outlet></router-outlet>
