<div class="bg">

  <div class="topnav">
    <nav>
      <div class="logo">
        <img src="../assets/hotel-sign.png" alt="">
      </div>

      <!-- <ul> -->
      <!-- <li><a routerLink="#">Country</a></li> -->
      <!-- <li><a routerLink="#">Sign Up</a></li>
            </ul> -->
    </nav>
  </div>


  <div class="bottomnav">
    <nav>
      <ul>
        <li><a class="home" routerLink="Home">Home</a></li>
        <li><a class="home" routerLink="About">About Us</a></li>
        <li><a class="home" routerLink="Career">Career</a></li>
        <li><a class="home" routerLink="Privacypolicy">Privacy Policy</a></li>
        <li><a class="home" routerLink="TermsofUse">Terms of Use</a></li>
        <li><a class="home" routerLink="Help">Help</a></li>
        <li><a class="home" routerLink="Contact">Contact</a></li>

      </ul>

      <!-- <div class="icon">
        <a href="https://www.facebook.com">
          <img src="../assets/icons8-facebook-circled.gif" alt="">
        </a>
        <a href="https://www.instagram.com">
          <img src="../assets/icons8-instagram (1).gif" alt="">
        </a>
        <a href="https://in.linkedin.com">
          <img src="../assets/icons8-linkedin.gif" alt="">
        </a>
      </div> -->
    </nav>
  </div>

</div>


<router-outlet></router-outlet>
