<div class="background-img">
  <h1>Join the +100 million travelers <br>
    enjoying better deals.</h1><br><br><br>
  <!-- <h2>Whatever the stay, there’s always a better deal out there.</h2> -->
</div>
<div class="text">
  <h1>A better deal. Every stay.
  </h1>

  <div class="querycontainer">
    <div class="row">
      <div class="item">
        <p>Vio.com is a super-powered tool travelers use, to get better deals every stay.
        <p>
      </div>
      <div class="item">
        <p>Compare rates from all major travel suppliers and enjoy a seamless booking experience.</p>
      </div>
    </div>

    <div class="row">
      <div class="item">
        <p>We help +100M visitors a year across the globe access better accommodation deals! Launched in 2016 as
          FindHotel,
          we have scaled within the online travel industry by creating a unique booking experience.</p>
      </div>
      <div class="item">
        <p>We're a trusted partner to all major travel networks and suppliers, integrating with Google, TripAdvisor,
          Bing, Agoda, Kayak, Skyscanner, Trivago and many more.</p>
      </div>
    </div>

    <div class="row">
      <div class="item">
        <p>Vio.com is for the travelers (Vio literally means "I travel" in Latin). Whether you're a backpacker or a
          business person,
          hunting a bargain or looking to bump up to a suite Vio.com is for anyone and everyone that wants to make their
          money go further on the their next stay.
        <p>
      </div>
      <div class="item">
        <p>We take the luck out of finding a better deal, by putting you in the right place at the right time to get
          that amazing price or free upgrade with zero frustration.
          <br> <br> #abetterdeal
        </p>
      </div>
    </div>
  </div>
</div>

<div class="card-wrapper">
  <h1>How Hotel works</h1>
  <div class="card-container">
    <div class="card">
      <img src="../../assets/choosing.gif" alt="">
      <p>Choosing the option</p>
    </div>
    <div class="card">
      <img src="../../assets/ab-testing.gif" alt="">
      <p>Comparing the option</p>
    </div>
    <div class="card">
      <img src="../../assets/payment.gif" alt="">
      <p>Final payment</p>
    </div>
  </div>

</div>

<div class="container">

  <div class="desc">
    <h1>Join us on a journey to change the trillion-dollar
      travel industry</h1>
    <p>We call Amsterdam home and are proud to have a distributed team of 150+ experienced professionals, active across
      three continents. <br><br>

      Join our crew of enthusiastic, diverse, clever and creative members.</p>
    <!-- <a routerLink="Career"><button>Go to Career</button></a> -->

  </div>
  <div class="image">
    <img src="../../assets/5904.jpg" alt="Image">
  </div>

</div>

<hr>

<div class="footer">
  <img src="../../assets/hotel-sign.png" alt="">
  <a routerLink="/Home">
    <p>A Better Deal</p>
  </a>


  <div class="icon">
    <p>Connect with Us</p>
    <a href="https://www.facebook.com">
      <img src="../assets/icons8-facebook-circled.gif" alt="">
    </a>
    <a href="https://www.instagram.com">
      <img src="../assets/icons8-instagram (1).gif" alt="">
    </a>
    <a href="https://in.linkedin.com">
      <img src="../assets/icons8-linkedin.gif" alt="">
    </a>
  </div>

</div>
